.signup2Background{
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(9,255,234);
    background: linear-gradient(90deg, rgba(9,255,234,1) 0%, rgba(105,34,195,1) 51%, rgba(253,92,45,1) 100%);
    height: 46.5rem;
    width: 100%;
}

.signup2{
    margin-top: 6.5rem;
    width: 100%;
    max-width: 400px;
    padding: 20px;
    height: auto;
    display: flex;
    flex-direction: column;
    background: rgba(0,0,0,0.2);
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1); /* Soft shadow around form */
}

.signup2Title{
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 20px;
}

.signup2Form{
    display: flex;
    flex-direction: column;
}

.signup2Input{
    margin-bottom: 10px;
    border:1px solid white;
    padding: 8px;
}

.signup2Input::placeholder{
    color: white;
}

.signup2Button{
    margin-top: 20px;
    margin-bottom: 30px;
    padding: 12px;
    color: black;
    background: white;
    border: 1px solid white;
    box-shadow: 10px 5px 5px #eceae5;
    cursor: pointer;
}

.signup2Button:hover {
    background-color: dimgray; /* Darker shade on hover */
    border: 1px solid dimgray;
    color: white;
}

.signup2Form2{
    width: 100%;
}
.signup2ToLogIn{
    font-size: 12px;
    right: 0;
}

.login2Link {
    color: darkgray; /* Make sign-up link stand out */
    cursor: pointer;
    text-decoration: underline;
}