*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    background: transparent;
    font-family: 'lexend', sans-serif;
}

body{
    background: #2148C0; 
    color: white;
    overflow: hidden;
    overflow-y: scroll;
}