.fridgeContainer {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background: #e6f7ff;
    border: 1px solid #b3d8ff;
    border-radius: 10px;
    max-width: 400px;
    margin: 20px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .fridgeInput {
    padding: 12px;
    margin-bottom: 15px;
    border: 2px solid #007bff;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
    transition: border-color 0.3s;
  }

  .fridgeInputLabel {
    color: black;
    font-weight: bold;
  }
  
  
  .fridgeInput:focus {
    border-color: #0056b3;
  }
  
  .list {
    list-style: none;
    padding: 0;
    margin-top: 10px;
  }
  
  .listItem {
    margin: 10px 0;
    padding: 10px;
    color: black;
    background: #f0f8ff;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  }
  
  .submitButton, .listItemButton {
    padding: 6px 12px;
    margin-left: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s, opacity 0.2s;
  }
  
  .submitButton:hover, .listItemButton:hover {
    background-color: #0056b3;
    opacity: 0.8;
  }
  
  .mealsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 20px;
  }
  
  .meal {
    text-align: center;
    margin-bottom: 15px;
  }
  
  .mealImage {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 8px;
  }

  p {
    font-size: 16px;
    color: #333;
    margin-bottom: 12px;
  }
  
  .container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
  }
  