.navbarhubBackground{
    background-color: rgb(30, 30, 30);
    display: flex;
    justify-content: center;
    width: 100vw;
}

.navbarhub{
    height: 6.25rem;
    width: 100%;
    max-width: 65rem;
    margin:0 auto; 
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    z-index: 1000;
    background: rgb(30, 30, 30);
}

.logo{
    object-fit: cover;
    height:3rem;
    width:hug;
    margin-right: 20px;
}

.navbarhub button{
    border: none;
    color: white;
    padding: 0.5rem 1rem;
    background-color: red;
    height: auto;
    width: auto;
    cursor: pointer;
}

.navbarhub button:hover{
    background-color:bisque;
    color: black;
}