.fridgeContainer {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background: #e6f7ff; /* 浅蓝色背景 */
  border: 1px solid #b3d8ff; /* 边框颜色调整为浅蓝色 */
  border-radius: 10px; /* 增加圆角 */
  max-width: 400px;
  margin: 20px auto; /* 增加顶部和底部的外边距 */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 添加阴影 */
}

#fridgeInput {
  padding: 12px; /* 增加内边距 */
  margin-bottom: 15px; /* 增加与下方元素的间距 */
  border: 2px solid #007bff; /* 加粗边框并设置为主题蓝色 */
  border-radius: 5px; /* 调整圆角 */
  font-size: 16px;
  outline: none; /* 移除焦点时的轮廓线 */
  transition: border-color 0.3s; /* 边框颜色过渡效果 */
}

#fridgeInput:focus {
  border-color: #0056b3; /* 输入框聚焦时边框颜色变深 */
}

.list {
  list-style: none;
  padding: 0;
  margin-top: 10px; /* 增加与输入框的间距 */
}

.list_item {
  margin: 10px 0; /* 增加列表项的上下间距 */
  padding: 10px; /* 增加内边距 */
  background: #f0f8ff; /* 列表项背景色 */
  border-radius: 5px; /* 圆角 */
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05); /* 列表项阴影 */
}

.submitButton, .list_item button {
  padding: 6px 12px;
  margin-left: 10px;
  background-color: #007bff; /* 主题蓝色 */
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s, opacity 0.2s; /* 背景色和不透明度过渡效果 */
}

.submitButton:hover, .list_item button:hover {
  background-color: #0056b3; /* 鼠标悬停时背景颜色变深 */
  opacity: 0.8;
}

/* 新添加的样式 */
.mealsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 20px; /* 与 My Fridge 组件之间的间距 */
}

.meal {
  text-align: center;
  margin-bottom: 15px; /* 单个餐饮部分之间的间距 */
}

.mealImage {
  max-width: 100%; /* 图片最大宽度，确保它不会超出容器宽度 */
  height: auto; /* 图片高度自动调整 */
  border-radius: 10px; /* 图片圆角 */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 图片阴影 */
  margin-bottom: 8px; /* 图片与描述文字之间的间距 */
}
