.signupBackground{
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(9,255,234);
    background: linear-gradient(90deg, rgba(9,255,234,1) 0%, rgba(105,34,195,1) 51%, rgba(253,92,45,1) 100%);
    height: auto;
    width: 100vw;
}

.signup{
    margin: 8rem 0rem;
    width: 100%;
    max-width: 400px;
    padding: 20px;
    height: auto;
    display: flex;
    flex-direction: column;
    background: rgba(0,0,0,0.2);
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1); /* Soft shadow around form */
}

.signupTitle{
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 20px;
}

.signupForm{
    display: flex;
    flex-direction: column;
}

.signupInput{
    margin-bottom: 10px;
    border:1px solid white;
    padding: 8px;
}

.signupInput::placeholder{
    color: white;
}

.signupButton{
    margin-top: 20px;
    margin-bottom: 30px;
    padding: 12px;
    color: black;
    background: white;
    border: 1px solid white;
    box-shadow: 10px 5px 5px #eceae5;
    cursor: pointer;
}

.signupButton:hover {
    background-color: dimgray; /* Darker shade on hover */
    border: 1px solid dimgray;
    color: white;
}

.signupForm2{
    width: 100%;
}
.signupToLogIn{
    font-size: 12px;
    right: 0;
}

.loginLink {
    color: darkgray; /* Make sign-up link stand out */
    cursor: pointer;
    text-decoration: underline;
}