.updateUserInfo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: white;
    padding: 40px;
    height: auto;
    width: 100%;
    max-width: 600px;
    margin: auto;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  }
  
  .updateUserInfo h1 {
    color: #333;
    margin-bottom: 20px;
  }
  
  .formGroup {
    margin-bottom: 20px;
    width: 100%;
  }
  
  .formGroup label {
    display: block;
    margin-bottom: 5px;
    color: #333;
    font-weight: bold;
  }

  .formGroup output {
    color: black;
    font-size: 12px;
    text-align: right;
  }
  
  .formGroup input[type="range"],
  .formGroup select {
    width: 100%;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
  }
  
  .formGroup input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
  }
  
  .checkboxGroup {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  
  .checkboxGroup label {
    flex: 0 1 33%;
    display: flex;
    align-items: center;
  }
  
  .checkboxGroup input[type="checkbox"] {
    margin-right: 5px;
  }
  
  .formSubmitButton {
    background-color: #3232B4;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  .formSubmitButton:hover {
    background-color: #2828a5;
  }